# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.mcp.json
docs/제품소개_영상대본_3분.md
etc/image.png
etc/ㅇㅇㅇ.png
docs/FEATURE_CHANGELOG.md
.claude/settings.local.json
simvex/README.md
.claude/settings.local.json
README.md
